@import "../node_modules/bulma/bulma.sass";

$color-primario:#ffffff; 
$color-secundario: #aeae20;

body{
    background-color: $color-primario;
}

p .titulo{
    color: $color-secundario
}

p{
    .titulo{
        color: $color-secundario
    }
}


