h2{
    color: palevioletred;
}

h1{
    color: chartreuse;
}

p{
    font-size: 100px;
    font-weight: bold;
    background-color: coral;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}